.container.page-content
    .row
        .col-xs-12
            img(src="../../images/adverte_course.jpg").middle-pic
    .row.mg20
        .col-sm-3.col-sx-12.gx-btn-list
            div
                #main_left_title 消费警示
                #main_left_menu
                    ul
                        if (!warnType || warnType == 1)
                            li.nei_menu_on
                                a(href="#",title="失信黑名单") 失信黑名单
                        else
                            li.nei_menu_off
                                a(href="/warn",title="失信黑名单") 失信黑名单
                        if warnType == 2
                            li.nei_menu_on
                                a(href="#",title="消费争议") 消费争议
                        else
                            li.nei_menu_off
                                a(href="/warn?type=2",title="消费争议") 消费争议
            div
                include ../quickbtn.jade
        .col-sm-9.col-xs-12
            #nengrong_right_top
                if warnType == 1
                    h5 失信黑名单
                else if warnType == 2
                    h5 消费争议
                span 您的位置：
                    a(href="/") 首页&nbsp;&gt;&nbsp;
                    a(href="/warn") 消费警示&nbsp;&gt;&nbsp;
                    if warnType == 1
                        a(href="#") 失信黑名单
                    else if warnType == 2
                        a(href="#") 消费争议
            #nengrong_list.content
                #my_content_div
                    div 
                        if warnList.length == 0
                            .warn_list_ul_1 暂无数据
                        else
                            ul.warn_list_ul_1
                                each item,index in warnList
                                    li
                                        span
                                            if warnType == 1
                                                a(href="/warndetail?type=1&id=" + item.id).a_li_list #{item.shopName}
                                            else if warnType == 2 
                                                a(href="/warndetail?type=2&id=" + item.id).a_li_list #{item.title}
                                            else
                                                a(href="/warndetail?type=3&id=" + item.id).a_li_list #{item.title}
                        if warnList && warnList.length > 0
                            nav(aria-label="Page navigation")
                                ul.pagination
                                    if pageInfo.current == 1
                                        li.disabled
                                            a(href="#",aria-label="Previous")
                                                span(aria-hidden="true") &laquo;
                                    else
                                        li
                                            a(href="/warn?type="+warnType + "&page=" + (pageInfo.current - 1),aria-label="Previous")
                                                span(aria-hidden="true") &laquo;
                                    - let n = 1;
                                    while n <= pageInfo.pages
                                        if n == pageInfo.current
                                            li.active
                                                a(href="#") #{n++}
                                        else
                                            li
                                                a(href="/warn?type="+warnType + "&page=" + n) #{n++}
                                    
                                    if  pageInfo.current == pageInfo.pages || pageInfo.current == pageInfo.pages-1
                                        li.disabled
                                            a(href="#",aria-label="Next")
                                                span(aria-hidden="true") &raquo;
                                    else
                                        li
                                            a(href="/warn?type="+warnType + "&page=" + (pageInfo.current + 1),aria-label="Next")
                                                span(aria-hidden="true") &raquo;