.container.page-content
    .row
        .col-xs-12
            img(src="../../images/adverte_course.jpg").middle-pic
    .row.mg20
        .col-sm-4.col-md-3.col-sx-12.gx-btn-list
            div
                #main_left_title
                    if newsDetail.type==1 || newsDetail.type == 2
                        span 新闻中心
                    else
                        span 政策文献
                        
                #main_left_menu
                    ul
                        if newsDetail.type==1 || newsDetail.type == 2
                            if newsDetail.type == 1
                                li.nei_menu_on
                                    a(href="#",title="行业信息") 行业信息
                            else
                                li.nei_menu_off
                                    a(href="/news",title="行业信息") 行业信息
                            if  newsDetail.type == 2
                                li.nei_menu_on
                                    a(href="#",title="公告通知") 公告通知
                            else
                                li.nei_menu_off
                                    a(href="/news?type=1",title="公告通知") 公告通知
                        else
                            if newsDetail.type == 3
                                li.nei_menu_on
                                    a(href="#",title="通用标准") 通用标准
                            else
                                li.nei_menu_off
                                    a(href="/literature",title="通用标准") 通用标准
                            if  newsDetail.type == 4
                                li.nei_menu_on
                                    a(href="#",title="技术文献") 技术文献
                            else
                                li.nei_menu_off
                                    a(href="/literature?type=1",title="技术文献") 技术文献
                            if  newsDetail.type == 5
                                li.nei_menu_on
                                    a(href="#",title="考核标准") 考核标准
                            else
                                li.nei_menu_off
                                    a(href="/literature?type=2",title="考核标准") 考核标准
            div
                include ../quickbtn.jade
        .col-sm-8.col-md-9.col-xs-12
            #nengrong_right_top
                if newsDetail.type == 1 || newsDetail.type == 2
                    if newsDetail.type == 2
                        h5 公告通知
                    else
                        h5 行业信息
                else
                    if newsDetail.type == 3
                        h5 通用标准
                    else if newsDetail.type == 4
                        h5 技术文献
                    else
                        h5 考核标准
                span 您的位置：
                    a(href="/") 首页&nbsp;&gt;&nbsp;
                    if newsDetail.type == 1 || newsDetail.type == 2
                        a(href="/news") 新闻中心&nbsp;&gt;&nbsp;
                    else
                        a(href="/literature") 政策文献&nbsp;&gt;&nbsp;
                    if newsDetail.type == 1 || newsDetail.type == 2
                        if newsDetail.type == 2
                            a(href="#") 公告通知
                        else
                            a(href="#") 行业信息
                    else
                        if newsDetail.type == 3
                            a(href="#") 通用标准
                        if newsDetail.type == 4
                            a(href="#") 技术文献
                        if newsDetail.type == 5
                            a(href="#") 考核标准
            #nengrong.content
                #detal_title #{newsDetail.title}
                #detal_sub_title 更新：#{newsDetail.updateTime}&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;阅读：#{newsDetail.readTimes}次&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;关键词：
                    a(href="#") #{newsDetail.keyWords}
                #detal_sub_content #{newsDetail.content}
                #detal_fenxiang
                    div(style="float:right;")
                        #bdshare.bdshare_t.bds_tools.get-codes-bdshare
                            span.bds_more 分享到：
                            a(href="#",title="分享到新浪微博").bds_tsina
                            a(href="#",title="分享到腾讯微博").bds_tqq
                            a(href="#",title="分享到人人网").bds_renren
                            a(href="#",title="分享到QQ空间").bds_qzone
                            a(href="#",title="分享到百度搜藏").bds_baidu
                            a(href="#",title="分享到百度空间").bds_hi
                            a(href="#",title="分享到豆瓣网").bds_douban
                            a(href="#",title="分享到天涯社区").bds_ty
                            a(href="#",title="分享到搜狐微博").bds_tsohu
                            a(href="#",title="分享到网易微博").bds_t163
                            a(href="#",title="累计分享0次").shareCount
                        script#bdshare_js(type="text/javascript",data="type=tools&amp;uid=678697",src="http://bdimg.share.baidu.com/static/js/bds_s_v2.js?cdnversion=437079")
                        script(type="text/javascript") document.getElementById("bdshell_js").src = "http://bdimg.share.baidu.com/static/js/shell_v2.js?cdnversion=" + new Date().getHours();
