if !reportDetail
    div(style="margin:40px auto;color:#999;font-size:26px;text-align:center;") 暂无数据
else
    #detal_sub_content
        p(style="text-align:center;font-weight:bold;") 名表鉴定评估报告单
        .row(style="padding:10px 20px;")
            .top-left(style="float:left;") 系统识别号：#{reportDetail.detail.shibieCode}
            .top-right(style="float:right;") 鉴定评估日期： #{reportDetail.detail.checkDate}
        table(width="100%",border="0",cellpadding="0",cellspacing="1").table.table-bordered.table-reportdetail.detail.detail
            tr
                td.table-label(colspan=3) 与制造商公示的技术信息和工艺特征比对结果
                td(colspan=5) !{reportDetail.detail.linkMan || ""}
            tr
                td.table-label 品牌名称
                td !{reportDetail.detail.sampleBrand || ""}
                td.table-label 款式型号
                td(colspan=2) !{reportDetail.detail.sampleNum || ""}
                td.table-label 已使用年限
                td(colspan=2) !{reportDetail.detail.useYear || ""}
            tr
                td.table-label 针数
                td !{reportDetail.detail.zhenNum || ""}
                td.table-label 外形尺寸
                td !{reportDetail.detail.size || ""}
                td.table-label 腕周（mm)
                td !{reportDetail.detail.wanzhou || ""}
                td.table-label 质量（g)
                td !{reportDetail.detail.weight || ""}
            tr
                td(colspan=8) 使用可靠性
            tr
                td.table-label 走时（瞬时日差s/d）
                td(colspan=2) #{reportDetail.detail.ssrc || ""}
                td.table-label(colspan=2) 上条机构和拨针系稳定
                td !{reportDetail.detail.wending || ""}
                td.table-label 外观连接件开裂或脱落
                td !{reportDetail.detail.waiguanBroke || ""}
            tr
                td(colspan=4,rowspan=6)
                    img(src= "https://server.hgstc.com/" + reportDetail.detail.zmz, alt="")
                td.table-label(colspan=2) 外观成新度
                td(colspan=2) !{reportDetail.detail.newLev || ""}
            tr
                td.table-label 表镜
                td !{reportDetail.detail.biaojing || ""}
                td.table-label 表壳
                td !{reportDetail.detail.biaoke || ""}
            tr
                td.table-label 前圈
                td !{reportDetail.detail.qianquan || ""}
                td.table-label 旋转前圈
                td !{reportDetail.detail.xuanzhuan || ""}
            tr
                td.table-label 后盖
                td !{reportDetail.detail.hougai || ""}
                td.table-label 后盖（螺丝）开痕
                td !{reportDetail.detail.luosi || ""}
            tr
                td.table-label 表扣
                td !{reportDetail.detail.biaokou || ""}
                td.table-label 表带
                td !{reportDetail.detail.biaodai || ""}
            tr
                td.table-label 表冠/按钮
                td !{reportDetail.detail.biaoguan || ""}
                td.table-label 表针
                td !{reportDetail.detail.biaozhen || ""}
            tr
                td(colspan=8) 手表材质鉴定
            tr
                td.table-label(rowspan=3) 表壳
                td.table-label 是否原装 
                td(colspan=2) !{reportDetail.detail.bkeYuanzhuang || ""}
                td.table-label(rowspan=3) 表扣
                td.table-label 是否原装 
                td(colspan=2) !{reportDetail.detail.bkYuanzhuang || ""}
            tr
                td.table-label 表壳号
                td(colspan=2) !{reportDetail.detail.bkeCode || ""}
                td.table-label 表扣号 
                td(colspan=2) !{reportDetail.detail.bkCode || ""}
            tr
                td.table-label 表壳材质
                td(colspan=2) !{reportDetail.detail.bkeTexture || ""}
                td.table-label 表扣材质 
                td(colspan=2) !{reportDetail.detail.bkTexture || ""}
            tr
                td.table-label(rowspan=3) 表带
                td.table-label 是否原装 
                td(colspan=2) !{reportDetail.detail.bdYuanzhuang || ""}
                td.table-label(rowspan=3) 外观宝石镶嵌
                td.table-label 经改装后加钻 
                td(colspan=2) !{reportDetail.detail.bsAdd || ""}
            tr
                td.table-label 表带号
                td(colspan=2) !{reportDetail.detail.bdCode || ""}
                td(colspan=3,rowspan=2) 
                    input(type="checkbox", checked = !!reportDetail.detail.bsBp)
                    span 表盘
                    input(type="checkbox", checked = !!reportDetail.detail.bsBd) 
                    span 表带
                    input(type="checkbox", checked = !!reportDetail.detail.bsBz) 
                    span 表针
                    input(type="checkbox", checked = !!reportDetail.detail.bsBke) 
                    span 表壳
                    input(type="checkbox", checked = !!reportDetail.detail.bsBkou) 
                    span 表扣
            tr
                td.table-label 表带材质
                td(colspan=2) !{reportDetail.detail.bdTexture || ""}
            tr
                td.table-label 表盘
                td.table-label 表盘材质
                td(colspan=2) !{reportDetail.detail.bpTexture || ""}
                td.table-label
                td(colspan=3)
            tr
                td(colspan=8) 机芯鉴定
            tr
                td.table-label 机芯类型
                td !{reportDetail.detail.jxType || ""}
                td.table-label 机芯型号
                td !{reportDetail.detail.jxStyle || ""}
                td.table-label 机芯序号
                td !{reportDetail.detail.jxOrder || ""}
                td.table-label 原装 
                td !{reportDetail.detail.jxYuanzhuang || ""}
            tr
                td.table-label 产地
                td !{reportDetail.detail.jxChandi || ""}
                td.table-label 摆幅
                td !{reportDetail.detail.jxBf || ""}
                td.table-label 振频
                td !{reportDetail.detail.jxZp || ""}
                td
                td
            

            tr(style="min-height:160px;")
                td.table-label 机芯工艺
                td(colspan=7) ----
            tr(style="min-height:160px;")
                td.table-label 机芯功能
                td(colspan=7) ----
            tr
                td(colspan=8) 防水性能
            tr
                td.table-label 防水密封件
                td !{reportDetail.detail.qtFsmfj || ""}
                td.table-label 防水表
                td(colspan=2) !{reportDetail.detail.qtFsb || ""}
                td.table-label 潜水表
                td(colspan=2) !{reportDetail.detail.qtQsb || ""}
            tr
                td(colspan=8) 包装物及附件
            tr
                td.table-label 表盒
                td !{reportDetail.detail.qtBh || ""}
                td.table-label 说明书
                td !{reportDetail.detail.qtSms || ""}
                td.table-label 保修卡
                td !{reportDetail.detail.qtBxk || ""}
                td.table-label 功能附件 
                td !{reportDetail.detail.qtFnfj || ""}
            tr
                td(colspan=8) 实验室照片
            tr(style="height:200px;")
                td(rowspan=5,colspan=2)
                    img(src="https://server.hgstc.com/" + reportDetail.detail.zmz, alt="")
                td(rowspan=5,colspan=2)
                    img(src="https://server.hgstc.com/" + reportDetail.detail.zsz, alt="")
                td(rowspan=5,colspan=2)
                    img(src="https://server.hgstc.com/" + reportDetail.detail.bdz, alt="")
                td(rowspan=5,colspan=2)
                    img(src="https://server.hgstc.com/" + reportDetail.detail.bgz, alt="")
            tr
            tr
            tr
            tr
        .row(style="padding:0 20px;")
            .top-left(style="float:left;") 检验地点：#{reportDetail.detail.checkOrg} 