.container.page-content(style="")
    .row
        .col-sm-6.col-xs-12
            .swiper-container
                .swiper-wrapper
                    each item in bannerList
                        .swiper-slide
                            a(href="/newsdetail?id="+item.id).item
                                img(src="http://39.105.127.212:8080/jeecg-boot/" + item.imgUrl, alt="")
                                .carousel-caption #{item.bannerName || ""}
                .swiper-pagination
                
        .col-sm-6.col-xs-12
            .gx-panel
                .gx-panel-title 新闻中心
                div.wenjian-wrap
                    .tab-item2.tab-active(stye="width: 140px;") 新闻中心
                    .tab-item2.tab(stye="width: 140px;") 公告专栏
                .gx-panel-body.height-342(style="padding-bottom:0;")
                    each item,index in newsList
                        a(href="/newsdetail?id=" + item.id).news-item 
                            .point(style="display:inline-block;")
                            span.list-title  #{item.title}
                            span(style="float:right;font-size:14px;color:#aaa;") #{item.createTime}
                    a(href="/news").tab-more 更多>
                .gx-panel-body.height-342(style="display:none;padding-bottom:0;")
                    each item,index in noticeList
                        a(href="/newsdetail?id=" + item.id).news-item
                            .point(style="display:inline-block;")
                            span.list-title  #{item.title}
                            span(style="float:right;font-size:14px;color:#aaa;") #{item.createTime}
                    a(href="/news?type=1").tab-more 更多>
    .row(style="margin-top: 40px;")
        .col-sm-6.col-xs-12
            .gx-panel
                .gx-panel-title 政策文献
                div.wenjian-wrap
                    .tab-item2.tab-active(stye="width: 140px;") 通用标准
                    .tab-item2.tab(stye="width: 140px;") 技术文献
                    .tab-item2.tab(stye="width: 140px;") 考核标准
                .gx-panel-body(style="padding-bottom:0;height:254px;")
                    each item,index in ruleList
                        a(href="newsdetail?id=" + item.id,style="clear:both;").news-item
                            .point(style="display:inline-block;")
                            span.list-title  #{item.title}
                            span(style="float:right;font-size:14px;color:#aaa;") #{item.createTime}
                    a(href="/literature").tab-more 更多>
                .gx-panel-body(style="display:none;padding-bottom:0;height:254px;")
                    each item,index in literatureList
                        a(href="newsdetail?id=" + item.id,style="clear:both;").news-item
                            .point(style="display:inline-block;")
                            span.list-title  #{item.title}
                            span(style="float:right;font-size:14px;color:#aaa;") #{item.createTime}
                    a(href="/literature?type=1").tab-more 更多>
                .gx-panel-body(style="display:none;padding-bottom:0;height:254px;")
                    each item,index in khbzList
                        a(href="newsdetail?id=" + item.id,style="clear:both;").news-item
                            .point(style="display:inline-block;")
                            span.list-title  #{item.title}
                            span(style="float:right;font-size:14px;color:#aaa;") #{item.createTime}
                    a(href="/literature?type=2").tab-more 更多>
        .col-sm-6.col-xs-12.gx-btn-list
            .gx-panel
                    .gx-panel-title 快速查询
                    .gx-panel-body(style="padding-top:10px;height:254px;")
                        a(href="/report?type=3").gx-btn 钟表型式检验报告查询
                        a(href="/report?type=1").gx-btn 司法技术鉴定报告查询
                        a(href="/report?type=2").gx-btn 二手表检验证书查询
                        a(href="/report?type=4").gx-btn 眼镜型式检验报告查询
                        a(href="/report?type=5").gx-btn 皮具型式检验证书查询
                        a(href="/report?type=6").gx-btn 皮具真伪检验证书查询
    .row(style="margin-top: 40px;")
        .col-sm-6.col-xs-12
            .gx-panel
                .gx-panel-title(style="position:initial;") 信息公开
                    .title-search
                        input(type="text",placeholder="请输入机构名称")#searchInput
                        img(src="../../images/search.png", alt="").search-btn
                .gx-panel-body(style="padding-bottom:0;height:272px;").public-list
                    each item,index in publicList
                        a(href="publicdetail?id=" + item.id).news-item
                            .point(style="display:inline-block;")
                            span.list-title(style="width: 350px;")  #{item.name}
                            span(style="float:right;font-size:14px;color:#aaa;") #{item.createTime}
        .col-sm-6.col-xs-12
            .gx-panel
                .gx-panel-title(style="position:initial;") 失信黑名单
                .gx-panel-body(style="padding-bottom:0;height:272px;").public-list
                    each item,index in warnList
                        a(href="/warndetail?type=1&id=" + item.id).news-item
                            .point(style="display:inline-block;")
                            span.list-title(style="width: 350px;")  #{item.shopName}
                            span(style="float:right;font-size:14px;color:#aaa;") #{item.createTime}
    
            